.forgotpassword-wall{
    width: 500px;
    height: 230px;
    margin-top: 10%;
    margin-right: 25%;
    margin-left:25%;
    padding: 40px 0px 20px 0px;
    background-color: #A6A0A7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.forgotpassword-body{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.forgotpassword-header{
    color: #050404;
    font-size: 18px;
    font-weight: 400;
    display: block;
    text-align: center;
}
.image-logo2{
    width: 0px;
    height: 0px;
    margin: 0 auto 0px;
    display: block;
    -moz-border-radius: 30%;
    -webkit-border-radius: 30%;
    border-radius: 30%;
    margin-left:105px;
    position: relative;
    top:10px;
    
}

.forgotpassword-body input[type="text"]{
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0; 
    height:25px; 
    width: 350px;
    margin-left: 50px;
}

.forgotpassword-submit{
    border:none;
    display:inline-block;
    outline:0;
    padding:0px 0px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;    
    border-radius:8px;
    margin-left:85%;
    margin-top:-50px;
 }
 .forgotpassword-bottom{
    height:25px;  
    margin-top:10px; 
 }
 .forgotpassword-paragraph{
     text-align:justify;
     text-justify: inter-word;
     margin:auto;
     padding: 10px;
     width: 80%;
 }
 .forgotpassword-text{
    padding: 20px;
    margin-bottom: 10px;
    margin-left:10px;
}
.forgotpassword-hyperlink{
    padding: 5px 5px 5px 5px;
    margin-bottom: 0px;
    text-align: left;
    display: inline-block;
    text-decoration:underline;    
}
.Noaccount-bottom{
    height:25px;  
    margin-top:40px;
    margin-left:30px; 
 }
 .Noaccount-submit{
    border:none;
    display:inline-block;
    outline:0;
    padding:0px 0px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;    
    border-radius:8px;
    margin-left:35%;
    margin-top:0px;
 }
 .forgotpassword-sent{
    width: 400px;
    height: 80px;
    margin-top: 50px;
    margin-right: 25%;
    margin-left:28%;
    padding: 0px 0px 0px 0px;
    background-color: #A6A0A7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.forgotpassword-sucess-sent{
    border:none;
    display:inline-block;
    outline:0;
    padding:0px 0px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;    
    border-radius:8px;
    margin-left:180px;
    top:3px;
 }
 h4{
    margin-top:20px;
    top:30px;
    align-content: center;
    left:20px;
    padding:1px 1px;
    text-align: center;
 }
#forgorpasswordsent{
     display: none;
 }
 .forgortusername-sent{
    width: 400px;
    height: 80px;
    margin-top: 50px;
    margin-right: 25%;
    margin-left:28%;
    padding: 0px 0px 0px 0px;
    background-color: #A6A0A7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.forgortusername-sucess-sent{
    border:none;
    display:inline-block;
    outline:0;
    padding:0px 0px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;    
    border-radius:8px;
    margin-left:180px;
    top:3px;
 }
#forgortusernamesent{
     display: none;
 }


 