.signup-wall{
    width: 500px;
    height: 400px;
    margin-top:5%;
    margin-right:25%;
    margin-left:25%;
    padding: 40px 0px 20px 0px;
    background-color: #A6A0A7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-body{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.signup-header{
    color: #050404;
    font-size: 18px;
    font-weight: 400;
    display: block;
    text-align: center;
}
.signup-body input[type="text"]{
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0; 
    height:25px; 
    width: 350px;
    margin-left: 50px;
}
.signup-body input[type="password"]{
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0; 
    height:25px; 
    width: 350px;
    margin-left: 50px;
}
.signup-text{
    padding: 3px;
    margin-bottom: 10px;
    margin-left:10px;
}
.signup-submit{
    border:none;
    display:inline-block;
    outline:0;
    padding:0px 0px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;    
    border-radius:8px;
    margin-left:150px;
    margin-top:5px;
 }
 .signup-cancel{
    border:none;
    display:inline-block;
    outline:0;
    padding:0px 0px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;    
    border-radius:8px;
    left:150px;
    margin-left:30px;
    margin-top:5px;
 }
 .image-logo3{
    width: 0px;
    height: 0px;
    margin: 0 auto 0px;
    display: block;
    -moz-border-radius: 30%;
    -webkit-border-radius: 30%;
    border-radius: 30%;
    margin-left:155px;
    position: relative;
    top:10px;    
}
.sucess-registration{
    width: 400px;
    height: 60px;
    margin-top: 30px;
    margin-right: 25%;
    margin-left:28%;
    padding: 0px 0px 0px 0px;
    background-color: #A6A0A7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-sucess-register{
    border:none;
    display:inline-block;
    outline:0;
    padding:0px 0px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;    
    border-radius:8px;
    margin-left:180px;
    top:3px;
 }
 h4{
    margin-top:20px;
    top:30px;
    align-content: center;
    left:20px;
    padding:1px 1px;
    text-align: center;
 }
#sucessregistration{
     display: none;
 }
.select-dropdown{
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0; 
    height:25px; 
    width: 350px;
    margin-left: 50px; 
}
.signup-select{
    padding: 3px;
    margin-bottom: 10px;
    margin-left:10px; 
}

