.App {
  text-align: left;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 20px;
  float: left;
  left: 15px;
  position: absolute;
  /*bottom: 0px;*/
  /*z-index: 100;*/
}

.App-header {
  background-color: transparent;
  height: 20px;
  /*color: white;*/
  width: 99%;  
}

.App-header h2{
  text-align: center;
  margin-right: 75px;
  float: right;
  padding: 0px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: #7d3f98;
  height: 20px;
  bottom: 0px;
  padding: 20px;
  color: white;
  position: fixed;
  width: 100%;
  /*left: 13%;*/
}
.App-footer span{
  margin-right: 10px;
  float: left;
  padding-right: 25px;  
}
.App-footer #dateText{
  float: right;
  padding-left: 10px;
  padding-right: 20px;
}
.glyphButton{
  float: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* material icons rules*/
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }